<%- include('../partials/header') %>
<div class="container left">
    <form action="/teams/<%= team._id %>" method="POST">
        <div class="container">
            <br>
            <br>
            <label class="left">Name:
                <input type="text" name="name">
            </label><br>
            <select class="browser-default" name="position">Position:
                <option value="RB1">RB1</option>
                <option value="RB2">RB2</option>
                <option value="RB3">RB3</option>
                <option value="WR1">WR1</option>
                <option value="WR2">WR2</option>
                <option value="WR3">WR3</option>
                <option value="TE1">TE1</option>
                <option value="TE2">TE2</option>
            </select><br>
        </div>
        <div class="container">
            <label>Rush Yds/Game:
                <input type="text" name="rushYdsPG">
            </label><br>
            <label>Rush Attempts/Game:
                <input type="text" name="rushAttPG">
            </label><br>
            <label>Rushing TDs:
                <input type="text" name="rushTD">
            </label><br>
            <label>Reception Yards/Game:
                <input type="text" name="recYdsPG">
            </label><br>
            <label>Targets/Game:
                <input type="text" name="recTargets">
            </label><br>
            <label>Reception TDs:
                <input type="text" name="recTD">
            </label><br>
            <label>Average Draft Position:
                <input type="text" name="adp">
            </label><br>
            <input type="submit" value="Add Player">
        </div> 
    </form>
</div>
<%- include('../partials/footer') %>