<!DOCTYPE html>
<html>

<head>
  <title>2019 Fantasy Football Depth & Stat Tracker</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <!-- <div class="navbar teal lighten-2"> -->
    <div class="row">
    <nav class="nav-wrapper green darken-1">
      <!-- <div class="nav-wrapper container left teal lighten-2"> -->
      <div class="left logo-head">
          <a href="/teams" class="brand-logo hoverable logo" id="nav-logo"> <%= title %> </a>
          <img src="https://i.imgur.com/0V4TGFV.png" class="football">
      </div>
        
        <ul class="right">
          <li>
          <% if (user) { %>
              <a href="/logout"><i class="material-icons left hoverable">trending_flat</i>Log Out</a>
          <% } else { %>
              <a href="/auth/google"><i class="material-icons left hoverable">vpn_key</i>Login with Google</a>
          <% } %>
          </li>
        </ul>
      <!-- </div> -->
    </nav>
  </div>
  <!-- </div> -->