<%- include('../partials/header') %>
  <form action="/" method="POST">
      <label>Team:
        <input type="text" name="name">
      </label><br>
      <label>Bye Week
        <input type="text" name="byeWeek">
      </label><br>
      <input type="submit" value="Add Team">
  </form>
  <%- include('../partials/footer') %>