body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: auto;
}

a {
  color: #00B7FF;
}

select {
  display: flex;
}

.logo-head {
  display: flex;
  flex-direction: row;
}



#nav-logo {
  justify-self: left;
  position: inherit;
}

.football {
  margin-left: 25px;
  /* justify-self: right; */
  height: 64px;
  
}

.nav-wrapper {
  width: 100%;
  color: #303B37;
}

.players {
  font-size: 22px;
}

.team-info {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.team-name {
  margin: 0 auto;
}

.bye-week {
  margin-left: 50px;
  font-weight: bolder;
  justify-self: left;
  text-align: bottom;
}

.del-button {
  background-color: red;
  border-radius: 25%;
  font-weight: 900;
  color: white;
  margin-left: 30px;
}

.sel-button {
  margin-top: 20px;
  background-color: lightskyblue;
  border-radius: 5px;
}

.sel-button:hover {
  background-color: #00B7FF;
}

.add-button{ 
  background-color: lightskyblue;
  border-radius: 5px;
}

.add-button:hover{
  background-color: #00B7FF;
}

.details-football {
  height: 30px;
  width: 30x;
  margin-left: 20px;
  border-radius: 50%;
}

.details-football:hover {
  opacity: 0.7;
}


