body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: auto;
}

a {
  color: #00B7FF;
}

select {
  display: flex;
}

football-header {
  display: inline-block;
  height: 50px;
  width: 100px;
}

.nav-wrapper {
  width: 100%;
}