body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: auto;
}

a {
  color: #00B7FF;
}

select {
  display: flex;
}

.logo-head {
  display: flex;
  flex-direction: row;
}



#nav-logo {
  justify-self: left;
  position: inherit;
}

.football {
  margin-right: 100px;
  justify-self: right;
  height: 64px;
  
}

.nav-wrapper {
  width: 100%;
  color: #303B37;
}

.players {
  font-size: 22px;
}

.team-info {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.team-name {
  margin: 0 auto;
}

.bye-week {
  margin-left: 50px;
  font-weight: bolder;
  justify-self: left;
  text-align: bottom;
}

